/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky

	font-family: 'Lora', serif;

    font-family: 'Playfair Display', serif;
*/




body {
	margin: 0 auto;
	font-family: 'Lora', serif;
	color: #242424;
	font-size: 18px;
	line-height: 1.5;

}

img {
	border-radius: 5px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	color: #3e606b;
}

h2 {
	/* margin-bottom: 40px; */
	font-size: 36px;
}

h3 {
	font-size: 18px;
}


.section {
	max-width: 1100px;
	margin: 0 auto;
	padding: 80px 0;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
}

.logo {
	width: 170px;
	margin: 30px 0;
}

.menu {
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
}

.menu a {
	padding: 10px 15px;
	color: black;
	font-size: 18px;
	font-family: 'Lora', serif;
	text-decoration: none;
	border-radius: 20px;

}

.menu a:hover {
	background-color: #f195b2;
	color: white;
}


#hero {
	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
}

.hero-headline {
	color: white;
	padding-right: 40%;
}

.hero-headline h1 {
	
	font-family: 'Playfair Display', serif;
	font-size: 52px;
	color: white;
	margin-bottom: 50px;
}

.hero-headline p {
	font-size: 24px;
	font-style: italic;
}

.welcome {
	display: flex;
	justify-content: space-between;

}

.welcome-left .button {
	display: inline-block;
	text-decoration: none;
	border-radius: 30px;
	background-color: #f195b2;
	color: white;
	padding: 15px 40px;
	margin-top: 20px;
}

.welcome-left .button:hover {
	background-color: #d2567d;
}

.welcome-left {
	padding-right: 30px;
}

.welcome-left,
.welcome-right {
	flex-basis: calc((100% - 30px) / 2);
	flex-grow: 1;
	flex-shrink: 1;
}

#todayOffer {
	background-color: #f0f0f0;
}

.today-offer {
	padding: 80px 0;
}

.products {
	display: flex;
	justify-content: space-between;
}

.card img {
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.card-text p {
	margin-bottom: 0;
	font-size: 16px;
}

.card-text {
	padding: 0 20px 20px 20px;
}

.card {
	background-color: white;
	width: calc((100% - 90px) / 4);
	border-radius: 5px;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(141, 141, 141, 0.301);
}

.baking {
	display: flex;
	justify-content: space-between;
}

.baking-left {
	width: calc((100% - 30px) / 2)
}

.baking-right {
	padding-left: 30px;
}

footer {
	background-color: #303339;
	color: white;
	text-align: center;
	padding: 30px 0;
}



